.gradient{
    background: linear-gradient( 101deg , white 50% , #F6B400 50.1%);
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    align-content: flex-end;
    margin-left: 70px;
    }
    #logo img{
    
    height: 50px; 
    }
    #part1 img{
    height: 30px; 
    }
    #part1 {
    float: right;
    font-weight: bold;
    word-spacing: 55px;
    text-align: right;
    color: black;
    font-size: 20px;
    }
    #logo {
    display: flex;
    text-align: left;
    float: left;
    }
    .card img{
    height: 40px;
    }
    
    .menu{
        text-align: center;

    }
    #rain{
    font-weight: bold;
    font-family: 'poppins';
    font-size: 30px;
    float: left;
    }
    .description img {
    height: 400px;
    float: right;
    left: 800px;
    position: absolute;
    top: 150px;
    
    }
    .last {
    display: flex;
    height: 600px;
    text-align: center;
    background-color: #F6B400;
    flex-direction: row;
   
    
   
    }
    .cards {
    height: 500px;
    width: 50%;
    background-clip: content-box;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    }
    .card {
    box-shadow: 0 5px 3px;
    width: 950%;
    height: 400px;
    margin-top: 10%;
    border-radius: 15px;
   
    }
    
    .card-content{
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background-color: #fafafa;
    }
    .quality{
        width: 100%;
        height: 500px;
        background-color: white;
        background-clip: content-box;
        display: flex;
        text-align: center;
        justify-content: center;
        justify-items: center;

    }
    .burger{
        
    height: 500px;
    width: 50%;
    background-clip: content-box;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    }
    .images {
        position: relative;
        top: 0;
        left: 0;
        background-color: #fafafa;
         height: 20px;
  display: flex;
  flex-direction: right;

         }
      #tasy{
        position: relative;
        top: 0;
        left: 0;
        height: 20px;
       
      }
      #king{
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        
      }
      
   
    .icons {
        display: flex;
        height: 20px;
    }
.location{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin-right: 20px;
   
}
.part{
  background-color: aliceblue;
  height:270px;
  align-content: center;

}


#image1{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin-right: 20px;
    height: 200px;
    
}
.container {
    padding: 16px;
    align-items: right;
    
  }

  .list{
      text-align: center;
      padding:50px;
  }
 
  
  .part4{
    display: flex;
    flex-direction: row;
    height: 5px;
    font-size: 10px;
    background-color: aliceblue;
    justify-content: space-between;
  }
  #title{
    background-color: aliceblue;
    height: 470px;
   align-content: center;
    font-size: 30px;
  }
  .mobile p{
    font-size: 70px;
    font-weight: bold;
    padding-top: 50px;
    margin-left: 60px;
    padding-right: 40px;
    
  }
  #image2{
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-left: 80px;
  }
  #title :last-child{
    font-size: 50px;
    text-align: left;
  }
 .copyright{
   display: flex;
   flex-direction: row;
   justify-content: space-around
 }
